<div class="container howto">
	<h2>Learn English with fun!</h2>

	<div class="row">
		<div class="col-md-8">
			<h4>Watch your favorite TV shows and translate unknown words using our build-in translator.</h4>
		</div>
		<div class="col-md-4"><img src="/img/translator.jpg" alt=""></div>
	</div>
	<div class="row">
		<div class="col-md-4"><img src="/img/translator.jpg" alt=""></div>
		<div class="col-md-8">
			<h4>Translate phrases and sentences using double subtitles.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h4>Expand your vocabulary with personalized interactive tests before and after each episode.</h4>
		</div>
		<div class="col-md-4"><img src="/img/translator.jpg" alt=""></div>
	</div>
	<div class="row">
		<div class="col-md-4"><img src="/img/compliment.png" alt=""></div>
		<div class="col-md-8">
			<h4>Accept compliments from your friends and coworkers.</h4>
		</div>
	</div>
</div>
